@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranYekan";
  src: url("/src/assets/fonts/IRANYekanXVF.woff2");
}

:root {
  --direction: rtl;
}

body {
  font-family: IranYekan;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: clip;
  direction: var(--direction);
}

#root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

input {
  outline: none;
  background-color: transparent;
}
